<div class="container-fluid">
   <div class="row-fluid">
      <div style="margin-left: 23%;">
        <h3>Please take a moment to add a guitar in your inventory</h3>
      </div>
   </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render "guitar/new_guitar_form" %>
	</div>
</div>   